<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario de cadastro de produtos</title>
</head>

<body>
    <form action="">
        <div>
            <label for="name">Nome</label>
            <br>
            <input type="text" name="nome" placeholder="Nome">
        </div>
        <div>
            <label for="descricao">Descrição</label>
            <br>
            <input type="text" name="descricao" placeholder="descricao">
        </div>
        <input type="submit" value="ENVIAR">
    </form>
</body>
</body>

</html>